.contact-main{
    height: 80vh;
}

.contact-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.inputfield{
    display: flex;
    flex-direction: column;
}

.inputfield input{
    width: calc(100% + 100px);
}