

*{
    margin:0;
    padding: 0;
        font-family: "Heebo", sans-serif;

}
 
h1,h2,h3,h4,h5,h6,p{
}
/*Header*/
#menu-Mo-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #D3F1DF;
    align-items: center;
    padding: 20px;
    min-width: 160px;
    width: auto;
    z-index: 1000;
}

#htoggle-Mo {
    display: none;
}

#htoggle-Mo:checked~#menu-Mo-items {
    display: flex;
    flex: 0;    
}

.home-items a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.menu-Mo {
    margin-right: 12%;
}

#hbutton-Mo {
    font-size: 300%;
    font-weight: bold;
    position: relative;
    z-index: 1101; 
    background: transparent;
    border: none;
}
#hbutton-Mo:hover{
    cursor: pointer;
}

#menu-Mo-items a {
    text-decoration: none;
    color: black;
    font-size: 150%;
    font-weight: bold;
    font-family: "Heebo", sans-serif;
    margin-top: 12px;

}

#menu-Mo-items a:active {
    text-decoration: underline;
    transform: translate(1.2);

}

.header-Mo {
    display: flex;
    justify-content: space-between;
    background: #d3f1df;
    align-items: center;
    height: 20vh;    border: 1px solid black;
    flex-wrap: wrap;
    overflow: visible;
}

#img-logo-blue-Mo {
    width: 25%;
    min-width: 120px;
    max-width: 120px;
}


#menu-dropdown-Mo{
    position: relative;
    display: inline-block;
    z-index: 1100; 
}

/*hero*/
.hero-m{
    background-color: #85a98f;
}
h1,p{
    color:white;
}
.hero-m-img img{
    flex:1;
    width: 100%;
    height: auto;
}
.hero-m-img,.hero-text-m,.hero-text-m a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text-m {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    text-align: left;         
    gap: 2rem;                
    width: 80%;               
    margin: 0 auto;          
}

.showmore a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #D3F1DF;
    border-radius: 20px;
    text-decoration: none;
    color:black;
    background-color: #D3F1DF;
    padding: 4%;
    margin: 5% 0%;
    font-size:80%;
    font-weight: bold;
    width:40%;
}
.showmore{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*popularproducts*/
.popular-products h2{
    color:#85A98F;
    margin: 5% 0%;
    font-size: 200%;
}
.popular-products{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3em;
}
.product1,.product2,.product3,.product4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:5%;
    width: 60%;
    border: 2px solid #85A98F;
    border-radius: 20px;
    background-color:#85A98F;
}
.product1 p,.product2 p,.product3 p,.product4 p{
    padding: 10%;}

.popular-products a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #D3F1DF;
    border-radius: 30px;
    text-decoration: none;
    color:black;
    background-color:#85A98F;
    padding: 3%;
    margin: 5% 0%;
    font-size:80%;
    font-weight: bold;
    width:40%;
    height: 10px;
    max-width: 200px;;
}

.product4 img{
    width: 209px;
    height: 209px;
}

/*partners*/
.partner-logos{
    border: 2px solid black;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logos img{
    width: 25%;
    height: auto;
}
@media (min-width: 1024px) {
.header-dt{
        display: flex;
}
.header-Mo{
    display: none;
}
.footer-mo{
    display: none;
}
.hero-m{
    display: flex;
    flex-direction: row-reverse;
}
.popular-products{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
}
.product1,.product2,.product3,.product4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:5%;
    height: 500px;
    border: 2px solid #85A98F;
    border-radius: 20px;
    background-color:#85A98F;
}
.partners{
    margin:40px;
}
.partner-logos{
    padding:30px;
}
.hero-m-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.hero-text-m {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    text-align: left;         
    gap: 2rem;                
    width: 60%;
    margin-top: 10%;                         
}
}
