* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: 'Inter', sans-serif;
}

#menu-Mo-items {
  display: none;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #D3F1DF;
  align-items: center;
  padding: 20px;
  min-width: 160px;
  width: auto;
  border-radius: 8px;
  z-index: 1000;
}

#htoggle-Mo {
  display: none;
}

#htoggle-Mo:checked ~ #menu-Mo-items {
  display: flex;
}

.home-items a {
  text-decoration: none;
  color: black;
  margin-top: 10px;
}

.menu-Mo {
  margin-right: 12%;
}

#hbutton-Mo {
  font-size: 300%;
  font-weight: bold;
  background: transparent;
  border: none;
  z-index: 1101;
  cursor: pointer;
}

#menu-Mo-items a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Heebo", sans-serif;
  margin-top: 12px;
  transition: 0.3s;
}

#menu-Mo-items a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.header-Mo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D3F1DF;
  border-bottom: 1px solid black;
  padding: 10px 20px;
  height: 15vh;
}

#img-logo-blue-Mo {
  width: 100px;
}

.header-dt {
  width: 100%;
  display: none;
  background-color: #D3F1DF;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.middle-links {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.middle-links a {
  text-decoration: none;
  color: black;
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.middle-links a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.button-right {
  display: flex;
  gap: 20px;
}

.button-right button {
  padding: 10px 25px;
  background-color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.maincontent {
  min-height: 80vh;
  width: 100%;
}

.footer-mo {
  background-color: #85A98F;
  color: white;
  font-family: 'Heebo', sans-serif;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.brand-mo {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 10px;
}

#logo-footer-mo {
  height: 50px;
}

.footer-mo p {
  font-size: 15px;
  line-height: 1.5;
  margin-top: 10px;
  width: 100%;
}

.footer-middle-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
  flex-wrap: wrap;
  gap: 25px;
  text-align: left;
}

.quick-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quick-links h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.quick-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.quick-links a:hover {
  text-decoration: underline;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.social-media h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.social-media img {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  transition: 0.3s;
}

.social-media img:hover {
  transform: scale(1.1);
}

.footer-contact-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 25px;
}

.footer-dt {
  display: none;
  background-color: #85A98F;
  color: white;
  font-family: 'Heebo', sans-serif;
  flex-direction: column;
  padding: 50px 80px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-dt p {
  font-size: 16px;
  font-weight: 500;
  max-width: 450px;
  line-height: 1.5;
}

.footer-right {
  display: flex;
  gap: 50px;
}

.social-media-dt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-media-dt h1 {
  font-size: 24px;
}

.social-media-dt img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.contact-info-dt {
  display: flex;
  gap: 25px;
  font-size: 14px;
  font-weight: 300;
  margin-top: 40px;
}

@media (min-width: 1024px) {
  .header-dt {
    display: flex;
  }
  .header-Mo {
    display: none;
  }
  .footer-mo {
    display: none;
  }
  .footer-dt {
    display: flex;
  }
}